<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KiKiRamene</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KiKiRamene.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">KiKiRamene</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="display: flex; flex-wrap: wrap; white-space: initial; line-height: normal; justify-content: center;">
            <div style="text-align: center; margin-top: 10px;">
                Chaque fin de sprint, les dieux du clic clic désignent un membre de l'équipe qu'ils estiment et qu'ils aimeraient voir ramener un <b>petit</b> truc à grignotter pour nos traditionnelles ceremonies de fin de sprint.
                <b>Si leur souhait n'est pas respecté, cela n'aura aucune conséquence.</b>
            </div>
            <div style="margin-top: 20px;">
                &copy; 2023 - KiKiRamene
            </div>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>